.bgvideo {
  position: fixed;
  z-index: -999;
  width: 100vw;
  height: 100vh;
}

.topbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  width: 100%;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  font-family: aaux-next, sans-serif;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navlink {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 5px 5px 0px;
  color: #d6d6d6;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 3px;
}

.navlink:hover {
  border-bottom: 1px solid #d6d6d6;
}

.navlink.w--current {
  color: #fff;
}

.navlink.w--current:hover {
  color: #fff;
}

.navlink.w--current:active {
  color: #fff;
}

.navlink.w--current:focus {
  color: #fff;
}

.topbarlogo {
  margin-top: 15px;
  font-family: Altehaasgroteskbold, sans-serif;
  color: #fff;
}

.navmenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  float: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menubutton.w--open {
  background-color: transparent;
}

.content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.content.down {
  margin-top: 200px;
}

.text {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-family: aaux-next, sans-serif;
  color: #505050;
  font-size: 12px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.buttonw {
  display: block;
  width: 200px;
  height: 38px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  -webkit-transition: background-color 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, color 300ms ease;
  font-family: aaux-next, sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.buttonw:hover {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.buttonw.fullwidth {
  width: 100%;
}

.form {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.vision {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100vw;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/home.svg');
  background-position: 50% 52%;
  background-size: auto 4000px;
  background-repeat: no-repeat;
}

.topbarbg {
  position: fixed;
  z-index: 100;
  display: block;
  width: 100%;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, .5);
}

.subtitle {
  margin-top: 100px;
  font-family: aaux-next, sans-serif;
  color: #fff;
  font-size: 11px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.subtitle.black {
  margin-top: 50px;
  color: #000;
}

.subtitle.black.margintopless {
  margin-top: 25px;
}

.subtitle.black.margintop {
  margin-top: 75px;
}

.subtitle.marginbottom {
  margin-bottom: 50px;
}

.story {
  height: 100vh;
}

.who {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.wrapper {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.subtext {
  margin-bottom: 25px;
  font-family: aaux-next, sans-serif;
  color: #505050;
  font-size: 12px;
  font-weight: 300;
}

.subtext.list {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.subtext.list.unbold {
  font-weight: 300;
}

.access {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/signup.svg');
  background-position: 50% 65%;
  background-size: auto 2000px;
  background-repeat: no-repeat;
}

.input {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.formsuccess {
  border: 1px solid #fff;
  background-color: transparent;
  font-family: aaux-next, sans-serif;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.formerror {
  border: 1px solid red;
  background-color: transparent;
  font-family: aaux-next, sans-serif;
  color: red;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.poweredby {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 5%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.superarchitects {
  font-family: aaux-next, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
}

.link {
  position: relative;
  font-family: aaux-next, sans-serif;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid #fff;
}

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sociallink {
  padding-right: 20px;
  padding-left: 20px;
  font-family: Fontawesome, sans-serif;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.vision_slides {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/about.svg');
  background-position: 50% 77%;
  background-size: auto 2000px;
  background-repeat: no-repeat;
}

.arrow {
  color: #000;
  font-size: 28px;
}

.slidenav {
  height: 75px;
  font-size: 6px;
}

.space {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/space.svg');
  background-position: 50% 77%;
  background-size: auto 2000px;
  background-repeat: no-repeat;
}

.environment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/environment.svg');
  background-position: 50% 77%;
  background-size: auto 2000px;
  background-repeat: no-repeat;
}

.img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.offerings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/offerings.svg');
  background-position: 50% 77%;
  background-size: auto 2000px;
  background-repeat: no-repeat;
}

.spacer {
  margin-top: 150px;
  margin-bottom: 150px;
}

.row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.services {
  display: block;
  width: 80%;
  margin: 50px auto;
}

.members {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.quote {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

html.w-mod-js *[data-ix="slide-down"] {
  opacity: 0;
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}

html.w-mod-js *[data-ix="display-none"] {
  display: none;
}

html.w-mod-js *[data-ix="slide-up"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="slide-up-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="slide-up-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="slide-up-4"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

@media (max-width: 991px) {
  .topbar {
    height: auto;
  }
  .navlink {
    margin-bottom: 30px;
  }
  .topbarlogo {
    margin-top: 10px;
    font-size: 24px;
  }
  .navmenu {
    background-color: #000;
  }
  .menubutton.w--open {
    background-color: transparent;
  }
  .content.down {
    margin-top: 50px;
  }
  .vision {
    background-position: 50% 66%;
  }
  .topbarbg {
    height: 65px;
  }
  .access {
    background-position: 50% 69%;
    background-size: auto 2000px;
  }
  .social {
    bottom: -55%;
  }
}

@media (max-width: 767px) {
  .content {
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .content.contentmobile {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .content.contentfix {
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
  }
  .content.down {
    margin-top: 100px;
  }
  .text {
    margin-top: 0px;
  }
  .vision {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
  }
  .home {
    background-position: 50% 55%;
    background-size: auto 3000px;
  }
  .subtitle {
    margin-top: 25px;
  }
  .who {
    height: auto;
  }
  .wrapper {
    width: 80%;
  }
  .subtext {
    margin-bottom: 50px;
  }
  .access {
    height: auto;
    background-position: 50% 88%;
    background-size: auto 1500px;
  }
  .vision_slides {
    height: auto;
  }
  .about {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
}

@media (max-width: 479px) {
  .content.contentmobile {
    top: 10%;
  }
  .content.down {
    margin-top: 50px;
  }
  .vision {
    background-position: 0px 50%;
    background-size: auto 2000px;
  }
  .access {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75));
  }
  .social {
    bottom: -30%;
  }
  .img {
    max-width: 50%;
  }
  .img.full {
    max-width: 100%;
  }
}

@font-face {
  font-family: 'Altehaasgroteskbold';
  src: url('../fonts/AlteHaasGroteskBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Altehaasgroteskregular';
  src: url('../fonts/AlteHaasGroteskRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}